
@model Tasks

@{
    Tasks t = (Tasks)ViewData["Tasks"];
}
<div><a href="/Task">Tasks</a>/Delete Confirmation</div>
<br />
<h1>Delete Confirmation</h1>
<br />
<h2>Are you sure you want to delete @ViewData["Title"]?</h2>
<p>______________________________________________________________________________________________________________________________________________________________________</p>
<p>@t.TaskTitle</p><br />
<p>@t.TaskDescription</p><br />
<p>@t.DueDate</p><br />

@if (t.Complete == false)
{
    <p>This task has not been completed.</p>
}
else
{
    <p>This task has been completed.</p>
}

<br />
<div><a href="/Task/Delete/@t.Id" class="btn btn-primary">CONFIRM DELETE</a></div>

