@model Tasks
@{
    ViewData["Title"] = "Search";
    List<Tasks> SearchResults = (List<Tasks>)ViewData["Search Results"];
}

<div><a href="/Task">Tasks</a>/Search Result</div>
<br />

<p>CURRENT TASKS</p>
<p>______________________________________________________________________________________________________________________________________________________________________</p>
<table style="width:40%">
    <tr>
        <th>Completed</th>
        <th>Tasks</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
        @foreach (Tasks t in SearchResults)
        {
        
         <tr>
            <td>
             <form action="\Task\Complete" method="Post">
                    @if (t.Complete == false)
                    {
                        <input asp-for="Complete" type="submit" data-val="true" name="Complete" value="Complete" class="btn btn-primary" />
                        <input asp-for="Id" type="hidden" value="@t.Id" /><br />
                    }
                    else
                    {
                        <input asp-for="Complete" type="submit" data-val="true" name="Complete" value="Un-Complete" class="btn btn-primary" />
                        <input asp-for="Id" type="hidden" value="@t.Id" /><br />
                    }


                </form></td>
            <td>
                <a href="/Task/Detail/@t.Id">@t.TaskTitle</a>
            </td>
            <td>
                <a href="/Task/EditTasks/@t.Id" class="btn btn-primary">Edit</a>&nbsp;
            </td>
            <td>
                <a href="/Task/DeleteTasks/@t.Id" class="btn btn-primary">Delete</a>&nbsp;<br />
            </td>
        </tr>
        }
    
</table>


