@model Tasks
@{
    ViewData["Title"] = "Search";
    List<Tasks> SearchResults = (List<Tasks>)ViewData["Search Results"];
}

<div><a href="/Task">Tasks</a>/Search Result</div><br />

<p>CURRENT TASKS</p>
<p>______________________________________________________________________________________________________________________________________________________________________</p>

@foreach (Tasks t in SearchResults)
{
    <div>
        <a href="/Task/EditTasks/@t.Id" class="btn btn-primary">Edit</a>&nbsp;
        <a href="/Task/DeleteTasks/@t.Id" class="btn btn-primary">Delete</a>&nbsp;
        <a href="/Task/Detail/@t.Id">@t.TaskTitle</a>
        @*<fieldset>
                <input asp-for="@t.Complete" type="checkbox" data-val="1" name="Complete" value="1" />&nbsp;Mark Complete&nbsp;
                <input asp-for="@t.Complete" type="hidden" name="NotComplete" value="0" /><br />
            </fieldset>*@
        <p>______________________________________________________________________________________________________________________________________________________________________</p>
    </div>
}

