
@model Tasks

@{
    ViewData["Title"] = "TaskIndex";
    List<Tasks> tasks = (List<Tasks>)ViewData["Tasks"];
    List<Tasks> SearchResults = (List<Tasks>)ViewData["Search Results"];
}

<h1>TASK LIST</h1>

@*<form class="form-inline my-2 my-lg-0" asp-controller="Task" asp-action="Search" method="post">
    <input class="form-control mr-sm-2" type="search" id="Search" name="Search" placeholder="Search" />
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>*@
<br />
<p><a href="/Task/AddTask" class="btn btn-success" role="button">Add Task</a></p>
<br /> 
@if (TempData["UserMsg"] != null)
{
<p>@TempData["UserMsg"]</p>
}
<p>CURRENT TASKS</p>
<p>______________________________________________________________________________________________________________________________________________________________________</p>
<table style="width:40%">
    <tr>
        <th>Mark Complete</th>
        <th>Tasks</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (Tasks t in tasks)
    {
        <tr>
            <td>
                <form action="\task\Complete" method="Post">
                    @if (t.Complete == false)
                    {
                        <input asp-for="Complete" type="submit" data-val="true" name="Complete" value="Complete" class="btn btn-primary" />
                        <input asp-for="Id" type="hidden" value="@t.Id" /><br />
                    }
                    else
                    {
                        <input asp-for="Complete" type="submit" data-val="true" name="Complete" value="Un-Complete" class="btn btn-primary" />
                        <input asp-for="Id" type="hidden" value="@t.Id" /><br />
                    }


                </form>
               
            </td>
            <td>
                <a href="/Task/Detail/@t.Id">@t.TaskTitle</a>
            </td>
            <td>
                <a href="/Task/EditTasks/@t.Id" class="btn btn-primary">Edit</a>&nbsp;
            </td>
            <td>
                <a href="/Task/DeleteTasks/@t.Id" class="btn btn-primary">Delete</a>&nbsp;<br />
            </td>
        </tr>
    }
</table>

