@{
    ViewData["Title"] = "Home Page";
}
    <div class="container" align="center">
        <h1 class="display-1" >Quarantine Gym</h1>
    </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col">
                    <img src="https://media.giphy.com/media/JrTPM96dcF5CBEErAm/giphy.gif" alt="Working out at home">
                </div>
                <div class="col" align="center">
                    <div class="text-center">
                        <br /><br />
                        <div class="justify-content-xl-center"
                    <h1 class="display-2">Let's workout together (while social distancing)</h1></br></br>
                    <h1 class="display-2"><a href="../Task">Look at your tasks now!!</a></h1> <br/>
                    <br />
            </div>
                    </div>

                </div>
